.block {
    background-color: orange;
    color: #2F4858;
    /* height: 80px; */
    height: 120px;
    /* width: 400px; */
    overflow: hidden;
  }
  
  .half-container {
    background-color: lightcoral;
    height: 400px;
  }
  
  .mid-container {
    height: 50%;
    background-color: greenyellow;
  }
  
  .half-text {
    background-color: lightseagreen;
    color: #F3EADA;
    height: 50%;
  }
  
  .inline {
    background-color: orange;
    color: #514538;
    width: 300px;
    height: 300px;
  }
  
  .iblock {
    display: inline-block;
    background-color: lightblue;
    color: #063843;
    width: 200px;
    height: 200px;
  }