html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;


    /* background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='437' height='437' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E"); */
    background: linear-gradient(123deg, #2E99B0 0%, #2E99B0 40%, #FCD77F calc(40% + 1px), #FCD77F 60%, #FF2E4C calc(60% + 1px), #FF2E4C 75%, #1E1548 calc(75% + 1px), #1E1548 100%);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 15vw;
    height: 35rem;
    padding: 80px;
}

span {
    color: oldlace;
    border: 1px solid black;
    padding: 19px 46px;
    margin: 8px;
    width: 14px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    max-height: 48px;
}

span:nth-child(11) {
    order: 1;

    background-color: #845ec2;
}

span:nth-child(2) {
    order: 2;

    background-color: #d65db1;
}

span:nth-child(12) {
    order: 3;

    background-color: #ff9671;
}

span:nth-child(4) {
    order: 4;

    background-color: #c34a36;
}

span:nth-child(8) {
    order: 5;

    background-color: #0081cf;
}

span:nth-child(9) {
    order: 6;

    background-color: #00c9a7;
}

span:nth-child(6) {
    order: 7;

    background-color: #845ec2;
}

span:nth-child(5) {
    order: 8;

    background-color: #d65db1;
}

span:nth-child(1) {
    order: 9;

    background-color: #ff9671;
}

span:nth-child(3) {
    order: 10;

    background-color: #c34a36;
}

span:nth-child(7) {
    order: 11;

    background-color: #0081cf;
}

span:nth-child(10) {
    order: 12;

    background-color: #00c9a7;
}