body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;

    flex-direction: column;
}

header h1 {
    padding: 24px 0 0 24px;
    text-transform: uppercase;
}

header hr {
    border-top: 2px solid black;
    margin-top: 24px;
    margin-bottom: 24px;
}

main {
    padding: 24px 24px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);

    border-radius: 3px;
    /* background: rgb(181, 216, 255); */
    padding: 5px 10px;
    /* background-color: lightpink; */
    grid-area: foot;
}