body {
    box-sizing: border-box;
}

div {
    background-color: black;
}

.first {
    /* margin: 2px 0px; */
    /* border-style: dashed; */
    /* border-color: cornflowerblue; */
    background-color: deeppink;
    color: white;
}

.second {
    /* margin: 2px 2px; */
    /* border-style: dashed; */
    /* border-color: deeppink; */
    background-color: cornflowerblue;
    color: white;
}

.third {
    /* margin: 2px 0px; */
    /* border-style: dashed; */
    /* border-color: seagreen; */
    background-color: sandybrown;
    color: white;
}

.fourth {
    /* margin: 2px 2px; */
    /* border-style: dashed; */
    /* border-color: sandybrown; */
    background-color: seagreen;
    color: white;
}

/* .container {
    display: flex;
    flex-direction: column-reverse;
}  */

/* .container {
    display: inline-flex;
    height: 3em;
    width: 120px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
} */


/* flex-flow: <flex-direction> || <flex-wrap> */

/* .container {
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between; 
}  */

/* .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
    align-items: stretch;
}  */

div {
    background-color: black;
    display: flex;
    height: 300px;
}

p.first p.third p.fourth {
    height: 50px;
}

p.second {
    height: 100px;
}

.container {
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: stretch;
}

.first .second {
    /* align-content: flex-start;
    align-content: center; */
    align-content: space-between;
}

.third .fourth {
    /* align-content: flex-end; 
    align-content: center; */
    align-content: space-around;
}

.container {

}